* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 540px) and (max-device-width: 1024px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    overflow-y: scroll;
  }
  .wrapper {
    width: 100%;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(158, 64, 64);
  }
  .header {
    text-align: left;
    font-size: 20px;
    color: white;
    padding: 1rem 2rem;
  }
  .navbar {
    padding: 0.6rem 0.3rem;
    height: 3rem;
    background-color: rgb(33, 33, 54);
  }
  .bottomnav {
    list-style-type: none;
  }
  .bottomnav li {
    display: inline-block; /* so the pages' links will be on the same row */
    padding: 0 0.7rem;
  }
  .bottomnav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
  }
  .bottomnav a:hover {
    color: orange;
    font-size: 27px;
    outline: none;
  }
  .bottomnav a:active {
    color: orange;
    font-size: 27px;
  }
  .container2 {
    width: 100%;
  }
  .picture {
    display: flex;
    justify-content: center;
    padding-top: 0.7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .picture img {
    width: 100%;
  }
  .text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.8rem;
  }
  .text p {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 1.3rem 1.5rem;
    line-height: 2rem;
  }
  .text ul {
    list-style-type: none;
  }
  .text li {
    font-size: 25px;
    padding: 0 2.5rem;
    color: rgb(158, 64, 64);
    line-height: 2.5rem;
  }
  .container3 {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  .quote {
    background-color: rgb(196, 196, 196);
    width: 80%;
    margin-bottom: 1.5rem;
  }
  .quote p {
    height: 75%;
    font-size: 25px;
    padding: 0.7rem 1rem;
    line-height: 2.3rem;
  }
  .quote blockquote {
    font-size: 25px;
    padding: 1rem 4rem 1.2rem;
  }
  .footer {
    display: flex;
    justify-content: center;
    background-color: rgb(33, 33, 54);
    height: 40px;
  }
  .footer p {
    font-size: 1.3rem;
    color: white;
    padding: 0.45rem;
  }
}
@media only screen and (min-width: 280px) and (max-device-width: 540px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333; /* the color of the font */
    overflow-y: scroll;
  }
  .wrapper {
    width: 100%;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(158, 64, 64);
  }
  .header {
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 0.8rem 0;
  }
  .navbar {
    width: 100%;
    background-color: rgb(33, 33, 54);
  }
  .bottomnav {
    list-style-type: none;
  }
  .bottomnav li {
    border-bottom: 0.1rem solid grey;
  }
  .bottomnav a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 2rem;
  }
  .bottomnav a:hover {
    color: orange;
    font-size: 22px;
    outline: none;
  }
  .bottomnav a:active {
    color: orange;
    font-size: 22px;
  }
  /*moving to text and picture.*/
  /*the picture will be sized first in the mobile device version. */
  .container2 {
    width: 100%;
  }
  .picture {
    display: flex;
    justify-content: center;
    padding-top: 0.7rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
  .picture img {
    width: 100%;
  }
  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .text p {
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 1.5rem;
    padding: 1rem 1.5rem;
  }
  .text ul {
    list-style-type: none;
  }
  .text li {
    font-size: 19px;
    padding: 0 2.5rem;
    color: rgb(158, 64, 64);
    line-height: 1.7rem; /*to space the objects between them */
  }
  .container3 {
    display: flex;
    justify-content: center;
    padding-top: 1rem; /* to space the list and the quote */
  }
  .quote {
    background-color: rgb(196, 196, 196);
    width: 70%;
    margin-bottom: 1rem;
  }
  .quote p {
    height: 75%;
    font-size: 16px;
    padding: 0.7rem 0.8rem;
    line-height: 1.3rem;
  }
  .quote blockquote {
    font-size: 16px;
    padding: 0.2rem 2rem 0.5rem;
  }
  .footer {
    display: flex;
    justify-content: center;
    background-color: rgb(33, 33, 54);
    height: 25px;
  }
  .footer p {
    font-size: 0.8rem;
    color: white;
    padding: 0.35rem;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    overflow-y: scroll;
  }
  .wrapper {
    width: 100%;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(158, 64, 64);
  }
  .header {
    text-align: left;
    font-size: 15px;
    color: white;
    padding: 1rem 2rem;
  }
  .navbar {
    padding: 0.6rem 0.3rem;
    height: 2.5rem;
    background-color: rgb(33, 33, 54);
  }
  .bottomnav {
    list-style-type: none;
  }
  .bottomnav li {
    display: inline-block;
    padding: 0 0.7rem;
  }
  .bottomnav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  .bottomnav a:hover {
    color: orange;
    font-size: 20px;
    outline: none;
  }
  .bottomnav a:active {
    color: orange;
    font-size: 20px;
  }
  .container2 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
  .picture {
    width: 50%;
    margin: 1rem;
    border: 0.2rem solid white;
  }
  .picture img {
    width: 100%;
    padding: 0.5rem;
  }
  .text {
    width: 50%; /* put width only at p and ul's container, otherwise there's going to be an unwanted space between image and paragraph. */
    margin-bottom: 1rem;
  }
  .text p {
    font-size: 21px;
    padding-top: 1.7rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
    line-height: 2rem;
  }
  .text ul {
    list-style-type: none;
  }
  .text li {
    font-size: 21px;
    padding: 0 2rem;
    color: rgb(158, 64, 64);
    line-height: 2rem;
  }
  .container3 {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }
  .quote {
    background-color: rgb(196, 196, 196);
    width: 90%;
    margin-bottom: 1.5rem;
  }
  .quote p {
    font-size: 18px;
    padding: 1rem 3rem;
    line-height: 2rem;
  }
  .quote blockquote {
    font-size: 18px;
    padding: 0.5rem 6rem 1.2rem;
  }
  .footer {
    display: flex;
    justify-content: center;
    background-color: rgb(33, 33, 54);
    height: 40px;
  }
  .footer p {
    font-size: 0.9rem;
    color: white;
    padding: 0.7rem 0;
  }
}/*# sourceMappingURL=index.css.map */